body {
  background-image: url("/assets/hotel.jpg");
  background-position: center;
  color: #f0eaf1df;
}

.main-container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px #c06565;
}

h4 {
  font-size: 2rem;
  text-shadow: 2px 2px #c06565;
}
